- page_title _('CI/CD Analytics')
- add_page_specific_style 'page_bundles/project_quality'

#js-project-pipelines-charts-app{ data: { project_path: @project.full_path,
  should_render_dora_charts: should_render_dora_charts.to_s,
  should_render_quality_summary: should_render_quality_summary.to_s,
  failed_pipelines_link: project_pipelines_path(@project, page: '1', scope: 'all', status: 'failed'),
  coverage_chart_path: charts_project_graph_path(@project, @project.default_branch),
  test_runs_empty_state_image_path: image_path('illustrations/pipeline.svg'),
  project_quality_summary_feedback_image_path: image_path('illustrations/chat-bubble-sm.svg'),
  default_branch: @project.default_branch } }
